<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fbd-block text-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
          <div class="fdb-box fdb-touch">
            
            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Name: </label>
                  <%= form.text_field :name, :class => "form-control bg-light text-dark border border-dark", :type => "text", :placeholder => "Your Name" %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Email: </label>
                  <%= form.text_field :email, :class => "form-control bg-light text-dark border border-dark", :type => "text", :placeholder => "Your Email" %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Phone: </label>
                  <%= form.text_field :phone, :class => "form-control bg-light text-dark border border-dark", :type => "text", :placeholder => "Phone Number" %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Country:</label>
                    <%= form.country_select :country, :class => 'form-control bg-light text-dark border border-dark' %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">City</label>
                  <%= form.text_field :city, :class => 'form-control bg-light text-dark border border-dark', :type => "text", :placeholder => "City" %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Gender</label>
                  <%= form.text_field :gender, :class => 'form-control bg-light text-dark border border-dark', :type => "text", :placeholder => "Gender" %>
                </div>
              </div>
            </div> 

              <div class="row mt-4 field">
                <div class= "col">
                  <div class="form-group">
                    <label for="form">Age</label>
                    <%= form.text_field :age, :class => 'form-control bg-light text-dark border border-dark', :type => 'text', :placeholder => 'Your Age' %>
                  </div>
                </div>
              </div>
            
              <div class="row mt-4 actions">
                <div class= "col">
                  <%= form.submit :class => 'btn btn-primary' %>
                </div>
              </div>  
              <div class="row mt-4 pb-4 actions">
                <div class= "col">
                  <%= link_to 'Back', contacts_path, :class => 'btn btn-primary' %>
                </div>
              </div>  
          </div>      
        </div>      
      </div>
    </div>
  </section>

<% end %>
