<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="fbd-block text-dark">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
          <div class="fdb-box fdb-touch pb-5">
            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form validationCustom01">Name: </label>
                  <%= form.text_field :name, :class => "form-control needs-validation bg-light text-dark border border-dark", :type => "text", id: 'validationCustom01' ,:placeholder => "Your Name", required: true, novalidate: true %>
                  <div class="invalid-feedback">
                    Please write your name!
                  </div>
                </div>
              </div>
            </div>


            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="inputEmail13">Email: </label>
                  <%= form.text_field :email, :class => "form-control bg-light text-dark border border-dark", id: 'inputEmail13', :type => "email", :placeholder => "Your Email", required: true %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form validationServer03">Phone: </label>
                  <%= form.text_field :phone, :class => "form-control bg-light text-dark border border-dark", id: 'validationServer03', :type => "string", :placeholder => "Phone Number", required: true %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form validationServer03">Country:</label>
                    <%= form.country_select :country, {include_blank: "Select a country"}, { :class => 'form-control bg-light text-dark border border-dark', :type => "text", :id => "exampleFormControlSelect1 validationServer03", required: true} %>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form validationServer03">City</label>
                  <%= form.text_field :city, :class => 'form-control needs-validation bg-light text-dark border border-dark', :type => "text", :placeholder => "City", id: 'validationServer03', required: true, novalidate: true %>
                  <div class="invalid-feedback">
                    Please provide a city.
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4 field">
              <div class= "col">
                <div class="form-group">
                  <label for="form">Gender</label>
                  <%= form.select(:gender, ['Male', 'Female'], {:include_blank => 'Select a gender'}, { :class => 'form-control bg-light text-dark border border-dark', :type => "text", :id => "exampleFormControlSelect1", required: true})%>
                </div>
              </div>
            </div> 

              <div class="row mt-4 field">
                <div class= "col">
                  <div class="form-group">
                    <label for="form row">Birthdate</label>
                    <br>
                      <%= form.date_select(:birthdate, { :class => "form-control col bg-light text-dark border border-dark", order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true})%>
                  </div>
                </div>
              </div>
            
              <div class="row mt-4 actions">
                <div class= "col">
                  <%= form.submit :class => 'btn btn-primary' %>
                </div>
              </div>  
              <div class="row mt-4 pb-4 actions">
                <div class= "col">
                  <%= link_to 'Back', contacts_path, :class => 'btn btn-primary' %>
                </div>
              </div>  
          </div>      
        </div>      
      </div>
    </div>
  </section>

<section class="fdb-block bg-dark text-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h3>Made with <i class="fas fa-heart text-danger"></i> by <a class="alex-rusu" href="https://alex.dutylabs.ro"> Alex Rusu</a></h1>
      </div>
    </div>
  </div>
</section>

<% end %>
