<p class="pl-4" id="notice"><%= notice %></p>

<section class="fdb-block pt-6">
  <div class="container">
    <div class="row justify-content-">
      <div class="col-12 col-md-12 col-lg-6 col-xl-5 text-center align-self-center">
        <div class="row justify-content-center">
          <h1 class="font-weight-lighter">Business Contacts</h1>
          <p class="lead mb-5 mr-2 ml-2 text-dark font-weight-lighter">Please check out my friends/business contacts! Feel free to add yourself on that list!</p>
          <%= link_to 'Add Yourself', new_contact_path, :class => 'btn btn-primary', :type => 'button' %>
        </div>
      </div>
      <div class="col-sm pt-4 rounded float-right">
       <%= image_tag("online-contacts.svg", :alt => "rss feed", :class => 'image-home') %>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block p-3">
  <div class="container">
    <div class="table-responsive">
      <table class="table shadow table-borderless table-hover">
        <thead class="thead">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Settings</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class="bg-light">
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.country %></td>
              <td><%= contact.city %></td>
              <td><%= contact.gender %></td>
              <td><%= Date.today.year - contact.birthdate.year %></td>
              <td><%= link_to 'Show', contact, :class => 'btn-link text-decoration-none font-weight-bold' %></td>
              <td><%= link_to 'Edit', edit_contact_path(contact), :class => 'btn-link text-decoration-none font-weight-bold' %></td>
              <td><%= link_to 'Destroy', contact, :class => 'btn-link text-decoration-none text-danger font-weight-bold', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div id="mycontent" class="d-lg-none">  
      <div class="row justify-content-center">
        <p class="text-dark font-weight-bolder">swipe to see more</p>
        <p class="ml-2 text-dark">
          <i class="fas fa-arrow-circle-left"></i>
          <i class="fas fa-hand-pointer"></i>
          <i class="fas fa-arrow-circle-right"></i>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block p-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <p class="font-weight-bolder">Follow us on</p>
        <p class="pt-3 pb-3">
          <a href="#" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
          <a href="#" class="mx-2"><i class="fab fa-google" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block bg-dark text-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h3>Made with <i class="fas fa-heart text-danger"></i> by <a class="alex-rusu" href="https://alex.dutylabs.ro"> Alex Rusu</a></h1>
      </div>
    </div>
  </div>
</section>